# Dependencies
node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore the inner NSU_Companion project
NSU_Companion/